main > .container {
    padding-top: 70px;
    padding-bottom: 30px;

}

.blog-post img {
    width: 100%;
}

img.member {
    border-radius: 50%;
    height: 75px;
    width: 75px;!important;
}

.member-detail {
    display: inline-block;
    text-anchor: middle;
    height: 75px;
    margin-left: 30px;
}

.no-bullet {
    list-style-type: none;
}



html, body {
    height: 100%;
}

main {
    min-height: 100%;
    overflow:auto;
    padding-bottom: 50px;
}


.footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    padding-top:20px;
}

.slide-text h2 {
    font-size: 1.8em;
}
.slide-text{
    text-align: center;
    width: 90%;
    left: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.3em;
}

.slide-media{
    text-align: center;
    width: 90%;
    left: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.3em;
}

.slide-media h2 {
    font-size: 1.8em;
}

.squared{
    max-width: 450px;
    max-height: 450px;
    margin: 0 auto;
}

.topics{
    max-width: 550px;
    max-height: 550px;
    margin: 0 auto;
}

.slide-orange{
    background-color: #d93;
}

h3 {
    padding-top: 1em;
}

a.list-group-item:hover{
    color: #d93;
}

.card-max {
    max-width: 200px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 10px;
}

.card-btn {
    display: inline-block;
    width: 130px;
    margin: 5px;
}

.lab-pic{
    max-width: 500px;
    display: block;
    margin: auto;
}

@media (max-width: 979px) {
    body {
        padding-top: 65px;
    }
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

.badge-primary{
    background-color: #505050;
}

.intro{
    display: block;
    margin: 20px auto;
    max-width: 1000px;
}