---
layout: fullpage
title: HCI courses in Italy
permalink: /courses-summary/
---
<script>

    var addressPoints = [

    {% for course in site.courses %}
        {% if course.map-pin  and course.active != "no" %}
            [{{course.map-pin}}, "{{course.institution | replace: '"', "" }}<br> <a href=\"{{site.baseurl}}{{ course.url }}\" target=\"_blank\">{{ course.course-name }}</a>"],{% endif%}
    {% endfor %}
    ];

    var learn_verification = {
        "Homework" : 0,
        "Group-project" : 0,
        "Multiple-choice-questions" : 0,
        "Individual-project": 0,
        "Oral-examination" : 0,
        "Open-ended-questions" : 0,
    }
    var topics = {
        "Accessibility" : 0,
        "Activity_design": 0,
        "Cognitive_Aspects": 0,
        "Cognitive_walkthrough": 0,
        "Ergonomics": 0,
        "Evaluation_metrics": 0,
        "HCI_Design_Patterns": 0,
        "HCI_history": 0,
        "Human-AI_Interaction": 0,
        "Information_Design": 0,
        "Information_Visualization": 0,
        "Interaction_Design": 0,
        "Interaction_models_and_frameworks": 0,
        "Interaction_paradigms": 0,
        "Interaction_styles": 0,
        "Interviews_and_Surveys": 0,
        "Knowledge_Visualization": 0,
        "Multimodal_Interfaces": 0,
        "Personas": 0,
        "Prototyping": 0,
        "Requirement_Analysis": 0,
        "Software_lifecycle": 0,
        "Usability_Engineering": 0,
        "Usability_Evaluation": 0,
        "Usability_principles": 0,
        "User-centered_design": 0,
        "User_Interfaces_for_the_Internet_of_Things": 0,
        "User_Testing": 0,
        "Virtual_and_Augmented_Reality": 0
    }

    var tools = {
        "Adobe_Illustrator": 0,
        "Adobe_Photoshop": 0,
        "Adobe_XD": 0,
        "Balsamiq": 0,
        "Canva": 0,
        "Figma": 0,
        "Sketch": 0,
        "No_tools": 0,
    }

    var lessons = [0, 0, 0]
    var language = [0, 0];

    {% assign count=0 %}
    {% assign bachelor=0 %}
    {% assign master=0 %}
    {% assign phd = 0 %}

    {% for course in site.courses %}
        {% if course.map-pin  and course.active != false %}
            console.log("{{count}} {{course.institution | replace: '"', "" }} {{course.title}} {{course.level}}");
            {% assign count = count | plus:1 %}
            {% if  course.level == "Laurea Triennale"  or course.level == "Bachelor's Degree"%}
                {% assign bachelor = bachelor | plus:1 %}
            {% endif%}
            {% if  course.level == "Laurea Magistrale"  or course.level == "Master's Degree"%}
                {% assign master = master | plus:1 %}
            {% endif%}
            {% if  course.level == "Dottorato di ricerca"  or course.level == "PhD"%}
                {% assign phd = phd | plus:1 %}
            {% endif%}
            {%for topic in course.topics%}
                {% assign topicName = topic | first %}
                {% assign topicValue = topic | last %}
                {% if topicValue %} topics["{{topicName}}"] += 1; {% endif %}
            {% endfor %}
            {%for learn in course.learning-verification %}
                {% assign learnName = learn | first %}
                {% assign learnValue = learn | last %}
                {% if learnValue %} learn_verification["{{learnName}}"] += 1; {% endif %}
            {% endfor %}
            {%for tool in course.tools %}
                {% assign toolName = tool | first %}
                {% assign toolValue = tool | last %}
                {% if toolValue %}
                    if(!tools.hasOwnProperty("{{toolName}}")) tools["{{toolName}}"] = 0;
                    tools["{{toolName}}"] += 1;
                {% endif %}
            {% endfor %}
            {%if course.hours == course.hours-lectures and course.hours-lab == 0 %}
                lessons[0] = lessons[0] + 1
            {% endif %}
            {%if course.hours == course.hours-lab and course.hours-lesson == 0  %}
                lessons[1] = lessons[1] + 1
            {% endif %}
            {%if course.hours-lab != 0 and course.hours-lessons != 0 %}
                lessons[2] = lessons[2] + 1
            {% endif %}
            {% if course.course-language contains "talia" %}
                language[0] += 1;
            {% endif %}
            {% if course.course-language contains "ngl" %}
                language[1] += 1;
            {% endif %}
        {% endif%}
    {% endfor %}



    console.log("count {{count}}");
    console.log("Bachelor {{bachelor}}");
    console.log("Master {{master}}");
    console.log("PhD {{phd}}");
</script>

<div id="fullpage">
    <div class="section slide-orange">
        <div class="slide-text ">
            <h2>Where to study HCI in Italy?</h2>
            <p>
                SIGCHI-Italy maintains a list of existing HCI-related courses in Italy as a reference
                for people interested in the topic.
            </p>
            <p>The next slides summarise the collected data</p>
        </div>
    </div>
    <div class="section">
        <div class="slide-media">
            <h2>HCI courses in Italy</h2>
            <p>We have {{count}} courses distributed throughout the Country. Click on clusters or pins to get a link to the course details.</p>
            <div id="map" style="height:65vh"></div>
            <script type="text/javascript">

                var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
                    }),
                    latlng = L.latLng(41.734545, 10.3646947);

                var map = L.map('map', {
                    center: latlng, zoom: 5,
                    scrollWheelZoom: false,
                    layers: [tiles]});

                var markers = L.markerClusterGroup();

                for (var i = 0; i < addressPoints.length; i++) {
                    var a = addressPoints[i];
                    var title = a[2];
                    var marker = L.marker(new L.LatLng(a[0], a[1]), {title: title});
                    marker.bindPopup(title);
                    markers.addLayer(marker);
                }

                map.addLayer(markers);

            </script>
        </div>

    </div>
    <div class="section">

        <div class="slide-text">
            <h2>Course Level Distribution</h2>
            <p> {{bachelor | times: 1.0 | divided_by: count |times: 100 | round: 2}}% of the courses are at the Bachelor's Degree level,
                {{master | times: 1.0 | divided_by: count |times: 100 | round: 2}}% at Master's Degree
                {{phd | times: 1.0 | divided_by: count |times: 100 | round: 2}}% at PhD.</p>
       <div class="squared">
            <canvas id="pieChart" width="200" height="200"></canvas>
            <script>
                const ctx = document.getElementById('pieChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'pie',

                    data: {
                        labels: ["Bachelor", "Master", "PhD"],
                        datasets: [{
                            data: [{{bachelor}}, {{master}}, {{phd}}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                            plugins: {
                            legend: {
                                position: 'bottom',
                                labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 16
                                    }
                                }
                            }
                        }
                    }
                });
            </script>
        </div>
        </div>
    </div>
    <div class="section">

        <div class="slide-text">
            <h2>Course Organization</h2>
            <p><script>document.write("" + (lessons[0]/(lessons[0] + lessons[1] + lessons[2]) * 100).toFixed(0))</script>%
                of the courses contain only lectures,
                <script>document.write("" + (lessons[1]/(lessons[0] + lessons[1] + lessons[2]) * 100).toFixed(0))</script>%
                contain only lab lessons, while
                <script>document.write("" + (lessons[2]/(lessons[0] + lessons[1] + lessons[2])* 100).toFixed(0))</script>%
                contain both of them.</p>
            <div class="squared">
                <canvas id="pieChart2" width="200" height="200"></canvas>
                <script>
                    const lessctx = document.getElementById('pieChart2').getContext('2d');
                    const lessonChart = new Chart(lessctx, {
                        type: 'pie',

                        data: {
                            labels: ["Lessons", "Lab", "Both"],
                            datasets: [{
                                data: [...lessons],
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        // This more specific font property overrides the global property
                                        font: {
                                            size: 16
                                        }
                                    }
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="section">

        <div class="slide-text">
            <h2>Course Language</h2>
            <p><script>document.write("" + (language[0]/(language[0] + language[1]) * 100).toFixed(0))</script>%
                of the courses are taught in Italian,
                <script>document.write("" + (language[1]/(language[0] + language[1]) * 100).toFixed(0))</script>%
                in English.</p>
            <div class="squared">
                <canvas id="pieChart3" width="200" height="200"></canvas>
                <script>
                    const languageCtx = document.getElementById('pieChart3').getContext('2d');
                    const languageChart = new Chart(languageCtx, {
                        type: 'pie',

                        data: {
                            labels: ["Italian", "English"],
                            datasets: [{
                                data: [...language],
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 99, 132, 0.8)',
                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        // This more specific font property overrides the global property
                                        font: {
                                            size: 16
                                        }
                                    }
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide-text">
            <h2>Course Topics</h2>
            <div class="topics">
                <canvas id="barChart" width="200" height="200"></canvas>
                <script>
                    const barctx = document.getElementById('barChart').getContext('2d');
                    var horizontalBarChartData = {
                        labels: Object.keys(topics),
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            data: Object.values(topics)
                        },]

                    };
                    const barChart = new Chart(barctx, {
                        type: 'bar',
                        data: horizontalBarChartData,

                        options: {
                            // Elements options apply to all of the options unless overridden in a dataset
                            // In this case, we are setting the border of each horizontal bar to be 2px wide
                            indexAxis: 'y',
                            elements: {
                                rectangle: {
                                    borderWidth: 2,
                                }
                            },
                            responsive: true,
                            plugins: {
                                legend :{
                                    display: false,
                                }
                            }

                        },
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide-text">
            <h2>Verification of Learning</h2>
            <div class="topics">
                <canvas id="learningChart" width="200" height="200"></canvas>
                <script>
                    const learningctx = document.getElementById('learningChart').getContext('2d');
                    var learningBarChartData = {
                        labels: Object.keys(learn_verification),
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            data: Object.values(learn_verification)
                        },]

                    };
                    const learningChart = new Chart(learningctx, {
                        type: 'bar',
                        data: learningBarChartData,

                        options: {
                            // Elements options apply to all of the options unless overridden in a dataset
                            // In this case, we are setting the border of each horizontal bar to be 2px wide
                            indexAxis: 'y',
                            elements: {
                                rectangle: {
                                    borderWidth: 2,
                                }
                            },
                            responsive: true,
                            plugins: {
                                legend :{
                                    display: false,
                                }
                            }

                        },
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide-text">
            <h2>Teaching Tools</h2>
            <div class="topics">
                <canvas id="toolsChart" width="200" height="200"></canvas>
                <script>
                    const toolsctx = document.getElementById('toolsChart').getContext('2d');
                    var toolsBarChartData = {
                        labels: Object.keys(tools),
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            data: Object.values(tools)
                        },]

                    };
                    const toolsChart = new Chart(toolsctx, {
                        type: 'bar',
                        data: toolsBarChartData,

                        options: {
                            // Elements options apply to all of the options unless overridden in a dataset
                            // In this case, we are setting the border of each horizontal bar to be 2px wide
                            indexAxis: 'y',
                            elements: {
                                rectangle: {
                                    borderWidth: 2,
                                }
                            },
                            responsive: true,
                            plugins: {
                                legend :{
                                    display: false,
                                }
                            }

                        },
                    });
                </script>
            </div>
        </div>
    </div>
</div>