---
layout: fullpage
title: HCI research groups in Italy
permalink: /research-summary/
---
<script>

    var addressPoints = [

    {% for group in site.research_groups %}
        {% if group.address.pin  and group.active != "false" %}
            [{{group.address.pin}}, "{{group.institution | replace: '"', "" }}<br> <a href=\"{{site.baseurl}}{{ group.url }}\" target=\"_blank\">{{ group.group-name }}</a>"],{% endif%}
    {% endfor %}
    ];

    var keywords = [];
    var members = [0,0,0,0,0,0,0,0,0,0,0]
    var depts = [0, 0];

    {% assign count=0 %}
    {% assign bachelor=0 %}
    {% assign master=0 %}
    {% assign phd = 0 %}

    {% for group in site.research_groups %}
        console.log("{{count}} {{group.group-name }} {{group.active}}");
        {% if group.address.pin  and group.active != "false" %}
            {% assign count = count | plus:1 %}
            {% for k in group.keywords %}
                {% assign word = k | map: "keyword"  | first | downcase %}
                keywords["{{word}}"] = keywords["{{word}}"] ? keywords["{{word}}"] + 1 : 1;
            {% endfor %}
            {% assign m = group.members | size %}
             members[{{m}}] = members[{{m}}] + 1;
            {% if group.field == "CS" %}
                depts[0] = depts[0] + 1;
            {% endif%}
            {% if group.field == "Psy" %}
                depts[1] = depts[1] + 1;
            {% endif%}
        {% endif%}
    {% endfor %}

    console.log("count {{count}}");
</script>

<div id="fullpage">
    <div class="section slide-orange">
        <div class="slide-text ">
            <h2>How many HCI research labs are there in Italy?</h2>
            <p>
                SIGCHI-Italy maintains a list of existing HCI-related research labs in Italy as a reference
                for people interested collaborations.
            </p>
            <p>The next slides summarise the collected data</p>
        </div>
    </div>
    <div class="section">
        <div class="slide-media">
            <h2>HCI Research Labs in Italy</h2>
            <p>We received a total of {{count}} HCI research labs descriptions. Below you can see where they are located.</p>
            <div id="map" style="height:65vh"></div>
            <script type="text/javascript">

                var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
                    }),
                    latlng = L.latLng(41.734545, 10.3646947);

                var map = L.map('map', {
                    center: latlng, zoom: 5,
                    scrollWheelZoom: false,
                    layers: [tiles]});

                var markers = L.markerClusterGroup();

                for (var i = 0; i < addressPoints.length; i++) {
                    var a = addressPoints[i];
                    var title = a[2];
                    var marker = L.marker(new L.LatLng(a[0], a[1]), {title: title});
                    marker.bindPopup(title);
                    markers.addLayer(marker);
                }

                map.addLayer(markers);

            </script>
        </div>

    </div>
    <div class="section">

        <div class="slide-text">
            <h2>Hosting Departments</h2>
            <p><script>document.write("" + (depts[0]/(depts[0] + depts[1]) * 100).toFixed(0))</script>%
            of the labs are hosted in  Computer Science or Engineering Departments.
            <br><script>document.write("" + (depts[1]/(depts[0] + depts[1]) * 100).toFixed(0))</script>%
                are instead hosted in Psychology or Cognitive Science Departments.</p>
            <div class="squared">
                <canvas id="pieChart" width="200" height="200"></canvas>
                <script>
                    const ctx = document.getElementById('pieChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'pie',

                        data: {
                            labels: ["Computer Science", "Cognitive Sciences"],
                            datasets: [{
                                data: [...depts],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 99, 132, 0.8)',
                    ],
                        borderWidth: 2
                    }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                position: 'bottom',
                                    labels: {
                                    // This more specific font property overrides the global property
                                    font: {
                                        size: 16
                                    }
                                }
                            }
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="section">

        <div class="slide-text">
            <h2>Research Topics</h2>
            <p>The word cloud represents the research keywords in our HCI labs.
                <br>We included only keywords appearing in at least two lab descriptions.</p>
        <div style="width: 100%; height: 55vh; border: 1px solid black">
            <canvas id="wordCloud" ></canvas>
            <script>
                var words = [];
                for(let k in keywords){
                    if( k != '' && keywords[k] > 1)
                        words.push({key: k, value: keywords[k]})
                }

                words.sort((a, b) => {return b.value - a.value})

                const data = {
                    labels: words.map((d) => d.key),
                    datasets: [
                        {
                            label: '',
                            data: words.map((d) => d.value * 8),
                        },
                    ],
                };
                const wordCtx = document.getElementById('wordCloud').getContext('2d');
                new Chart(wordCtx, {
                    type: 'wordCloud',
                    data: data,
                    responsive: true,
                    options: {
                        minRotation: 0,
                        title: {
                            display: false,
                            text: 'Chart.js Word Cloud',
                        },
                        plugins: {
                            legend: {
                                display: false,
                            },

                            tooltip: {
                                callbacks: {
                                    label: function(context) {
                                        let label = context.dataset.label || '';

                                        if (label) {
                                            label += ': ';
                                        }
                                        if (context.parsed.y !== null) {
                                            label += context.parsed.y / 8;
                                        }
                                        return label;
                                    }
                                }
                            }

                        },
                    },
                });
            </script>
        </div>
        </div>
    </div>
    <div class="section">
        <div class="slide-text">
            <h2>Number of Members</h2>
            <p>The chart shows how many labs have a given number of members. </p>
            <div class="squared">
                <canvas id="histogram" width="200" height="200"></canvas>
                <script>
                    const hisctx = document.getElementById('histogram').getContext('2d');
                    const hisChart = new Chart(hisctx, {
                        type: 'bar',
                        data: {
                            labels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                            datasets: [{
                                label: '',
                                data: [...members],
                                backgroundColor: 'rgba(54, 162, 235, 0.8)',
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y : {
                                    title: {
                                        display: true,
                                        text: 'Number of Labs',
                                    },
                                    position: 'left',
                                    ticks: {
                                        display: true,
                                        maxTicksLimit : Math.max.apply(Math, members) + 1
                                    }
                                },
                                x: {
                                    position: 'bottom',
                                    title: {
                                        display: true,
                                        text: 'Number of Members',
                                    },
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false,
                                },

                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            let label = context.dataset.label || '';

                                            if (context.parsed.y !== null && context.parsed.x !== null) {
                                                label += context.parsed.y + " labs have " + context.parsed.x + " members"
                                            }
                                            return label;
                                        }
                                    }
                                }

                            },
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>