<header>
    <div class="px-3 py-2 bg-dark text-white fixed-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{site.baseurl}}/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="{{site.baseurl}}/images/sigchi-italy-logo.png" height="35" alt="Sigchi-Italy">
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    {% for item in site.data.navbar.nav %}
                    <li >
                        <a href="{{site.baseurl}}{{item.url}}" class="nav-link {% if (page.url == item.url) or ((page.url contains item.url) and (item.url != '/')) %}text-blue{% else %}text-white{% endif %}">
                            {{item.title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>