<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<main class="flex-shrink-0">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8">

                <article class="blog-post">
                    <h2 class="blog-post-title">{{page.group-name}}</h2>
                    <img class="lab-pic" src="{{ page.picture }}" alt="a picture of the {{ page.group-name }} group">
                    {{content}}

                    <h3 class="blog-post-title">Members</h3>
                    {% for item in page.members %}
                    <li class="no-bullet">
                            {% if item.member.picture and item.member.picture != "null" and item.member.picture != "" %}
                            <img class="member" src="{{item.member.picture}}" alt="picture of {{item.member.name}} {{item.member.surname}}">
                            {% else %}
                            <img class="member" src="{{site.baseurl}}/images/site/user.png" alt="picture of {{item.member.name}} {{item.member.surname}}">
                            {% endif %}
                            <span class="member-detail"><a href="{{member.member.url}}">{{item.member.name}} {{item.member.surname}}</a></span>
                    </li>
                    {% endfor %}
                </article>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Lab Info</h4>
                        <dl>
                            <dt>Institution</dt>
                            <dd>{{page.institution}}</dd>
                            <dt>Department</dt>
                            <dd>{{page.department}}</dd>
                            <dt>Address</dt>
                            <dd>
                                {{page.address.street-name}}
                                {{page.address.street-number}},
                                {{page.address.zip}}, {{page.address.city}}, {{page.address.state}}
                            </dd>
                            <dt>Website</dt>
                            <dd><a href="{{page.website}}">{{page.website}}</a></dd>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
{% include footer.html %}
</body>
</html>